In [1]:
import pandas as pd
import numpy as np

In [2]:
casosBrasil = pd.read_csv('https://brasil.io/dataset/covid19/caso/?format=csv')
casosBrasil

,date,state,city,place_type,confirmed,deaths,is_last,estimated_population_2019,city_ibge_code,confirmed_per_100k_inhabitants,death_rate
0,2020-05-27,AL,Anadia,city,27,1,True,17545.0,2700201.0,153.89000,0.0370
1,2020-05-27,AL,Arapiraca,city,279,10,True,231747.0,2700300.0,120.38991,0.0358
2,2020-05-27,AL,Atalaia,city,90,3,True,47185.0,2700409.0,190.73858,0.0333
3,2020-05-27,AL,Barra de Santo Antônio,city,15,1,True,15932.0,2700508.0,94.15014,0.0667
4,2020-05-27,AL,Barra de São Miguel,city,19,1,True,8322.0,2700607.0,228.31050,0.0526
...,...,...,...,...,...,...,...,...,...,...,...
126622,2020-02-27,SP,NaN,state,1,0,False,45919049.0,35.0,0.00218,0.0000
126623,2020-02-26,SP,São Paulo,city,1,0,False,12252023.0,3550308.0,0.00816,0.0000
126624,2020-02-26,SP,NaN,state,1,0,False,45919049.0,35.0,0.00218,0.0000
126625,2020-02-25,SP,São Paulo,city,1,0,False,12252023.0,3550308.0,0.00816,0.0000
126626,2020-02-25,SP,NaN,state,1,0,False,45919049.0,35.0,0.00218,0.0000

In [4]:
casosBR = casosBrasil.drop(['place_type', 'deaths','estimated_population_2019', 'city_ibge_code', 'death_rate', 'confirmed_per_100k_inhabitants', 'is_last'], axis=1)
casosBR.head()

         date state                    city  confirmed
0  2020-05-27    AL                  Anadia         27
1  2020-05-27    AL               Arapiraca        279
2  2020-05-27    AL                 Atalaia         90
3  2020-05-27    AL  Barra de Santo Antônio         15
4  2020-05-27    AL     Barra de São Miguel         19

In [5]:
casosEstados = casosBR[casosBR['city'].isnull()]

In [6]:
casosEstados = casosEstados.drop('city', axis=1)
casosEstados = casosEstados.sort_values(by=['date'])
casosEstados

              date state  confirmed
126626  2020-02-25    SP          1
126624  2020-02-26    SP          1
126622  2020-02-27    SP          1
126620  2020-02-28    SP          2
126618  2020-02-29    SP          2
...            ...   ...        ...
3022    2020-05-27    SC       7372
3098    2020-05-27    SE       5912
3626    2020-05-27    SP      89483
1646    2020-05-27    PA      31671
100     2020-05-27    AL       7580

[1981 rows x 3 columns]

In [7]:
casosEstados = casosEstados.groupby(['state', 'date']).pipe(lambda x: x.confirmed.sum()).unstack().fillna(0)

In [8]:
cols = list(casosEstados)
for col in cols:
    casosEstados[col] = pd.to_numeric(casosEstados[col], downcast='integer')

In [9]:
casosEstados

date,2020-02-25,2020-02-26,2020-02-27,2020-02-28,2020-02-29,2020-03-01,2020-03-02,2020-03-03,2020-03-04,2020-03-05,...,2020-05-18,2020-05-19,2020-05-20,2020-05-21,2020-05-22,2020-05-23,2020-05-24,2020-05-25,2020-05-26,2020-05-27
state,,,,,,,,,,,,,,,,,,,,,
AC,0,0,0,0,0,0,0,0,0,0,...,2234,2482,2817,3103,3343,3867,4160,4501,0,0
AL,0,0,0,0,0,0,0,0,0,0,...,4031,4319,4437,4916,5302,5630,6214,6682,7058,7580
AM,0,0,0,0,0,0,0,0,0,0,...,20913,22132,23704,25367,27038,28802,29867,30282,31949,33508
AP,0,0,0,0,0,0,0,0,0,0,...,4023,4310,4549,5188,5655,0,6353,6584,6967,7619
BA,0,0,0,0,0,0,0,0,0,0,...,8881,11013,11197,11941,12557,13000,13899,14204,14566,15070
CE,0,0,0,0,0,0,0,0,0,0,...,26363,28112,30560,31413,34573,35122,35595,36185,37021,37275
DF,0,0,0,0,0,0,0,0,0,0,...,4618,4853,5271,5542,5948,6248,6638,6930,7210,7761
ES,0,0,0,0,0,0,0,0,0,1,...,7157,7693,8495,8878,9520,9918,10007,10365,0,0
GO,0,0,0,0,0,0,0,0,0,0,...,1781,1880,2049,2155,2344,2435,2488,2515,2706,2906
MA,0,0,0,0,0,0,0,0,0,0,...,14198,15114,16058,17212,18767,21191,22786,24278,26145,27979
MG,0,0,0,0,0,0,0,0,0,0,...,4695,4977,5286,5596,5995,6338,6668,6962,7516,8011
MS,0,0,0,0,0,0,0,0,0,0,...,613,642,693,746,805,858,1023,1100,1186,0
MT,0,0,0,0,0,0,0,0,0,0,...,941,1005,1090,1187,1271,1363,1464,1594,1744,1909
PA,0,0,0,0,0,0,0,0,0,0,...,15467,0,18929,20532,22697,24125,24815,27366,29882,31671
PB,0,0,0,0,0,0,0,0,0,0,...,4786,5300,5838,6238,6882,7508,7823,8016,8919,10209
PE,0,0,0,0,0,0,0,0,0,0,...,20094,21242,22560,23911,25760,26786,27759,28366,28854,29919
PI,0,0,0,0,0,0,0,0,0,0,...,2440,2637,2852,3074,3258,3390,3550,3720,3966,4243
PR,0,0,0,0,0,0,0,0,0,0,...,2390,2519,2656,2855,2985,3147,3260,3384,3567,3768
RJ,0,0,0,0,0,0,0,0,0,1,...,26665,27805,30372,32089,33589,34533,37912,39298,40024,42398
RN,0,0,0,0,0,0,0,0,0,0,...,3483,3796,4060,4251,4599,0,4774,5472,5630,0
RO,0,0,0,0,0,0,0,0,0,0,...,2043,2413,2499,0,2774,3109,3201,3268,3493,3862
RR,0,0,0,0,0,0,0,0,0,0,...,1882,1988,0,0,2296,2439,2439,2564,0,0
RS,0,0,0,0,0,0,0,0,0,0,...,3750,3798,4973,5473,5918,6336,6470,6559,6785,7048
SC,0,0,0,0,0,0,0,0,0,0,...,5175,5413,5499,5610,6458,6607,6696,6875,7016,7372
SE,0,0,0,0,0,0,0,0,0,0,...,3566,3967,4277,4734,4922,5131,5314,5448,5735,5912
SP,1,1,1,2,2,2,2,2,3,6,...,63066,65995,69859,73739,76871,80558,82161,83625,86017,89483
TO,0,0,0,0,0,0,0,0,0,0,...,1646,1809,1976,2205,2430,0,0,2696,2858,0

In [10]:
dias = list(casosEstados)
print(dias)

['2020-02-25', '2020-02-26', '2020-02-27', '2020-02-28', '2020-02-29', '2020-03-01', '2020-03-02', '2020-03-03', '2020-03-04', '2020-03-05', '2020-03-06', '2020-03-07', '2020-03-08', '2020-03-09', '2020-03-10', '2020-03-11', '2020-03-12', '2020-03-13', '2020-03-14', '2020-03-15', '2020-03-16', '2020-03-17', '2020-03-18', '2020-03-19', '2020-03-20', '2020-03-21', '2020-03-22', '2020-03-23', '2020-03-24', '2020-03-25', '2020-03-26', '2020-03-27', '2020-03-28', '2020-03-29', '2020-03-30', '2020-03-31', '2020-04-01', '2020-04-02', '2020-04-03', '2020-04-04', '2020-04-05', '2020-04-06', '2020-04-07', '2020-04-08', '2020-04-09', '2020-04-10', '2020-04-11', '2020-04-12', '2020-04-13', '2020-04-14', '2020-04-15', '2020-04-16', '2020-04-17', '2020-04-18', '2020-04-19', '2020-04-20', '2020-04-21', '2020-04-22', '2020-04-23', '2020-04-24', '2020-04-25', '2020-04-26', '2020-04-27', '2020-04-28', '2020-04-29', '2020-04-30', '2020-05-01', '2020-05-02', '2020-05-03', '2020-05-04', '2020-05-05', '2020-05-06', '2020-05-07', '2020-05-08', '2020-05-09', '2020-05-10', '2020-05-11', '2020-05-12', '2020-05-13', '2020-05-14', '2020-05-15', '2020-05-16', '2020-05-17', '2020-05-18', '2020-05-19', '2020-05-20', '2020-05-21', '2020-05-22', '2020-05-23', '2020-05-24', '2020-05-25', '2020-05-26', '2020-05-27']

In [11]:
for estado in casosEstados.iterrows():
    for i in range(1, len(dias)):
        a = dias[i]
        b = dias[i-1]
        if casosEstados.loc[estado[0], dias[i]] < casosEstados.loc[estado[0], dias[i-1]]:
            casosEstados.loc[estado[0], dias[i]] = casosEstados.loc[estado[0], dias[i-1]]

In [12]:
casosEstados

date,2020-02-25,2020-02-26,2020-02-27,2020-02-28,2020-02-29,2020-03-01,2020-03-02,2020-03-03,2020-03-04,2020-03-05,...,2020-05-18,2020-05-19,2020-05-20,2020-05-21,2020-05-22,2020-05-23,2020-05-24,2020-05-25,2020-05-26,2020-05-27
state,,,,,,,,,,,,,,,,,,,,,
AC,0,0,0,0,0,0,0,0,0,0,...,2234,2482,2817,3103,3343,3867,4160,4501,4501,4501
AL,0,0,0,0,0,0,0,0,0,0,...,4031,4319,4437,4916,5302,5630,6214,6682,7058,7580
AM,0,0,0,0,0,0,0,0,0,0,...,20913,22132,23704,25367,27038,28802,29867,30282,31949,33508
AP,0,0,0,0,0,0,0,0,0,0,...,4023,4310,4549,5188,5655,5655,6353,6584,6967,7619
BA,0,0,0,0,0,0,0,0,0,0,...,8881,11013,11197,11941,12557,13000,13899,14204,14566,15070
CE,0,0,0,0,0,0,0,0,0,0,...,26363,28112,30560,31413,34573,35122,35595,36185,37021,37275
DF,0,0,0,0,0,0,0,0,0,0,...,4618,4853,5271,5542,5948,6248,6638,6930,7210,7761
ES,0,0,0,0,0,0,0,0,0,1,...,7157,7693,8495,8878,9520,9918,10007,10365,10365,10365
GO,0,0,0,0,0,0,0,0,0,0,...,1781,1880,2049,2155,2344,2435,2488,2515,2706,2906
MA,0,0,0,0,0,0,0,0,0,0,...,14198,15114,16058,17212,18767,21191,22786,24278,26145,27979
MG,0,0,0,0,0,0,0,0,0,0,...,4695,4977,5286,5596,5995,6338,6668,6962,7516,8011
MS,0,0,0,0,0,0,0,0,0,0,...,613,642,693,746,805,858,1023,1100,1186,1186
MT,0,0,0,0,0,0,0,0,0,0,...,941,1005,1090,1187,1271,1363,1464,1594,1744,1909
PA,0,0,0,0,0,0,0,0,0,0,...,15467,15467,18929,20532,22697,24125,24815,27366,29882,31671
PB,0,0,0,0,0,0,0,0,0,0,...,4786,5300,5838,6238,6882,7508,7823,8016,8919,10209
PE,0,0,0,0,0,0,0,0,0,0,...,20094,21242,22560,23911,25760,26786,27759,28366,28854,29919
PI,0,0,0,0,0,0,0,0,0,0,...,2440,2637,2852,3074,3258,3390,3550,3720,3966,4243
PR,0,0,0,0,0,0,0,0,0,0,...,2390,2519,2656,2855,2985,3147,3260,3384,3567,3768
RJ,0,0,0,0,0,0,0,0,0,1,...,26665,27805,30372,32089,33589,34533,37912,39298,40024,42398
RN,0,0,0,0,0,0,0,0,0,0,...,3483,3796,4060,4251,4599,4599,4774,5472,5630,5630
RO,0,0,0,0,0,0,0,0,0,0,...,2043,2413,2499,2499,2774,3109,3201,3268,3493,3862
RR,0,0,0,0,0,0,0,0,0,0,...,1882,1988,1988,1988,2296,2439,2439,2564,2564,2564
RS,0,0,0,0,0,0,0,0,0,0,...,3750,3798,4973,5473,5918,6336,6470,6559,6785,7048
SC,0,0,0,0,0,0,0,0,0,0,...,5175,5413,5499,5610,6458,6607,6696,6875,7016,7372
SE,0,0,0,0,0,0,0,0,0,0,...,3566,3967,4277,4734,4922,5131,5314,5448,5735,5912
SP,1,1,1,2,2,2,2,2,3,6,...,63066,65995,69859,73739,76871,80558,82161,83625,86017,89483
TO,0,0,0,0,0,0,0,0,0,0,...,1646,1809,1976,2205,2430,2430,2430,2696,2858,2858

In [13]:
# primeiro dia até dia 1
x_train = np.array(casosEstados.loc[:,dias[:len(dias)-2]])
# dia 2
y_train = np.array(casosEstados[dias[-2]])
# do segundo dia até dia 2
x_test = casosEstados[dias[1:-1]]
# dia 3
y_test = np.array(casosEstados[dias[-1]])

In [14]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [15]:
linear_regression = LinearRegression()

In [16]:
linear_regression.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [17]:
y_pred = linear_regression.predict(x_test)

In [19]:
rmspe = (np.sqrt(np.mean(np.square((y_test - y_pred) / y_test)))) * 100
rmspe

5.386824417476044

In [20]:
r2 = r2_score(y_test, y_pred)
r2

0.9992518271521551

In [21]:
linear_regression.score(x_train, y_pred)

0.9966254278210243